documento_tesi/Tesi\ Gianluca\ Mondini.log
documento_tesi/Tesi\ Gianluca\ Mondini.aux
documento_tesi/Tesi\ Gianluca\ Mondini.synctex.gz
documento_tesi/Tesi\ Gianluca\ Mondini.toc
implementazione_algoritmo/implementazione_voronoi_python/__pycache__/*
