documento_tesi/Tesi\ Gianluca\ Mondini.log
documento_tesi/Tesi\ Gianluca\ Mondini.aux
documento_tesi/Tesi\ Gianluca\ Mondini.synctex.gz
documento_tesi/Tesi\ Gianluca\ Mondini.toc
*__pycache__*
implementazione_algoritmo/openmodelica/tmp_simulate.mos
